{{ drupal_entity('block', 'homepageprogramsandcareerssearch', check_access=false) }}
{{ drupal_entity('block', 'exposedformmajor_minorblock_2', check_access=false) }}
{{ drupal_entity('block', 'areaofstudy_2', check_access=false) }}
{{ drupal_entity('block', 'homepageprogramsandcareerssearch', check_access=false) }}

<div class="link-accordion">
<div class="container">
<div  id="accordion-{{ elements['#paragraph'].id.value }}">
  <div class="card">
    <div class="card-header" id="heading-{{ elements['#paragraph'].id.value }}">
      <h2>
        <button class="btn btn-link collapsed " type="button" data-toggle="collapse" data-target="#collapse-{{ elements['#paragraph'].id.value }}"  aria-controls="collapse-{{ elements['#paragraph'].id.value }}">
          {{ content.field_title}}
        </button>
      </h2>
    </div>
    <div id="collapse-{{ elements['#paragraph'].id.value }}" class="collapse" aria-labelledby="heading-{{ elements['#paragraph'].id.value }}" data-parent="#accordion-{{ elements['#paragraph'].id.value }}">
      <div class="card-body">
      <div class="row">
            <div class="col-lg-12">
        
            {{ drupal_view('major_minor_accordion_content', 'block_1') }}
            </div>
        
          
        {#  <div class="col-lg-6">
        <h3>Minors</h3>
        {{ drupal_view('major_minor_accordion_content', 'block_2') }}
        </div>#}
      </div>
    </div>
  </div>
</div>
</div>
</div>
