<div class="news-list">
{% set path = fields.view_node.content|striptags %}
{% set target = '_self' %}
  {% if fields.field_external_url.content|striptags|trim != '' %}
      {% set path = fields.field_external_url.content|striptags %}
      {% set target = '__blank' %}
  {% endif %}
<a  href="{{ path }}" target="{{target}}">
<div class="row">
<div class="col-md-4">
{{ fields.field_image.content }}
</div>
<div class="col-md-8">
<div class="date">{{fields.created.content}}</div>
<h3>{{fields.title.content}}</h3>
<div class="teaser">{{fields.body.content}}</div>
</div>
</div>
</a>
</div>