{{ attach_library('u_pacific/footer_tower') }}
<div{{ attributes }}>
    <div class="block-content">
    {{ title_prefix }}
        <div class="tower-wrap">
        <div class="bg"></div>
        <a alt="Launch Experience" href="https://www.youvisit.com/#/vte/?data-platform=v&data-inst=60214&">
            <img id="seal" src="{{ base_path ~ directory }}/images/seal-min.png" alt="Footer Image" /></a>
            <script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js3"></script>
            <img id="footer-accent" src="{{ base_path ~ directory }}/images/footer-accent-min.png" alt="Accent Image" />
        </div>
    </div>
</div>